/* Generics */

.dbg {
  border: 2px dashed white;
}

:root {
  --primary-color: #13be13;
  --secondary-color: #060f19;
  --text-color: #ffffff;
  --contrast-color: #182028;
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.primary_text {
  color: var(--primary-color);
}

.btn_primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.btn_primary:hover {
  background-color: var(--text-color);
  color: var(--secondary-color);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

/* Header */

#moviestar_logo {
  width: 200px;
}

.input-group {
  width: auto;
}

.form-control {
  flex-grow: 0;
  flex: 0 0 250px;
  background-color: transparent;
  border-width: 2px 0;
  border-color: var(--contrast-color);
  color: var(--text-color);
}

.form-control:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-width: 2px 0;
  border-color: var(--contrast-color);
  color: var(--text-color);
}

.form-control,
.btn.search {
  border-radius: 0;
}

.bottom_header {
  border-top: 1px solid var(--contrast-color);
  border-bottom: 1px solid var(--contrast-color);
}

/* Navbar */

.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--primary-color);
}

.fa-basket-shopping {
  position: relative;
}

.basket_counter {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 0.5rem;
  transform: translateX(-100%);
}

/* Jumbotron */

.jumbotron {
  background-image: url("../img/slider.jpg");
  height: 70vh;
}

/* New Movie Section */

.section_texts {
  box-shadow: inset 2px 0 var(--primary-color);
  border-bottom: 1px solid;
  border-color: var(--contrast-color);
}

.control_arrow {
  padding: 5px;
  width: 25px;
  height: 25px;
  color: var(--primary-color);
  border: 1px solid var(--contrast-color);
  background-color: transparent;
}

.movie_image {
  opacity: 60%;
}

.movie_content_side {
  opacity: 50%;
  height: 500px;
}

.movie_image_text {
  z-index: 1;
  bottom: 10%;
}

.movie_info {
  bottom: 5%;
}

.movie_views,
.movie_details {
  background-color: var(--contrast-color);
}

.movie_star {
  top: 5%;
  right: 0;
}

/* Movie Playlist */

.view_video {
  width: 75%;
}

.movie_playlist_list {
  background-color: var(--contrast-color);
}

.movie_playlist_heading {
  border-bottom: 3px solid var(--secondary-color);
}

.movies_playlist {
  overflow-y: auto;
  height: 500px;
  row-gap: 15px;
}

.movie_playlist_image {
  width: 100px;
  height: 100px;
}

.movie_playlist_details .views {
  font-size: 0.8rem;
}

.movie_playlist_details .date {
  font-size: 0.9rem;
}

/* Coming Soon Movie */

.coming_soon {
  position: relative;
  height: 70vh;
}

.coming_bg_image {
  position: absolute;
  z-index: -1;
  opacity: 50%;
}

.coming_soon_texts {
  background-color: rgba(0, 0, 0, 0.4);
}

/* New Movie Second */

.type_selector {
  display: flex;
}

.new_movie_second img {
  opacity: 50%;
  height: 500px;
}

.new_movie_second .movie_content_overlay {
  opacity: 0;
  background: linear-gradient(rgba(0, 255, 0, 0.4), transparent);
  height: 100%;
  cursor: pointer;
  transition: opacity 0.1s ease-in;
}

.new_movie_second .movie_content:hover .movie_content_overlay {
  opacity: 1;
}

.movie_content_overlay .movie_duration {
  top: 20px;
  background-color: #13be13;
  font-size: 0.9rem;
}

.movie_content_overlay .fa-circle-play {
  top: 30%;
  right: 50%;
  transform: translateX(50%);
}

.new_movie_second .movie_image_text {
  bottom: 0;
  transition: all 0.2s ease-in;
}

.new_movie_second .movie_release_genre {
  opacity: 0;
  transition: all 0.2s ease-in;
}

.new_movie_second .movie_content:hover .movie_image_text {
  bottom: 10%;
}

.new_movie_second .movie_content:hover .movie_release_genre {
  opacity: 1;
}

/* Latest News */

.latest_news .latest_news_left_side img {
  opacity: 50%;
}

.latest_news .latest_news_left_side {
  height: 100%;
}

.latest_news .latest_news_right_side img {
  opacity: 50%;
  height: 250px;
}

/* Newsletter */

.newsletter_content {
  height: 400px;
  background-image: url("../img/form-bg-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.newsletter_content input {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  flex-grow: 1;
  height: 50px;
  color: var(--text-color);
}

.newsletter_content input:focus {
  outline: none;
}

.newsletter_content input::placeholder {
  color: white;
}

.btn.btn_subscribe {
  background-color: var(--contrast-color);
  color: var(--text-color);
  border: none;
}

/* Upper Footer */

.upper_footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/ft-bg.jpg");
}

.upper_footer hr {
  width: 15%;
  border: 1px solid white;
  opacity: 1;
}

.upper_footer i {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.upper_footer .fa-facebook-f {
  background-color: #05afe8;
}

.upper_footer .fa-twitter {
  background-color: #05afe8;
}

.upper_footer .fa-linkedin-in {
  background-color: #00a097;
}

.upper_footer .fa-instagram {
  background-color: #c22d29;
}

.upper_footer .fa-pinterest {
  background-color: #af0b1b;
}

.post_card_image {
  width: 100px;
  height: 100px;
}
