/* Generics */

.dbg {
  border: 2px dashed white;
}

:root {
  --primary-color: #13be13;
  --secondary-color: #060f19;
  --text-color: #ffffff;
  --contrast-color: #182028;
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.primary_text {
  color: var(--primary-color);
}

.btn_primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.btn_primary:hover {
  background-color: var(--text-color);
  color: var(--secondary-color);
}

/* Header */

.input-group {
  width: auto;
}

.form-control {
  flex-grow: 0;
  flex: 0 0 250px;
  background-color: transparent;
  border-width: 2px 0;
  border-color: var(--contrast-color);
  color: var(--text-color);
}

.form-control:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-width: 2px 0;
  border-color: var(--contrast-color);
  color: var(--text-color);
}

.form-control,
.btn.search {
  border-radius: 0;
}

/* Navbar */

.nav-link {
  color: white;
}

.fa-basket-shopping {
  position: relative;
}

.basket_counter {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 0.5rem;
  transform: translateX(-100%);
}

/* Jumbotron */

.jumbotron {
  background-image: url("../img/slider.jpg");
  height: 70vh;
}
